

h1, h2, h3 {
    font-family: "Lobster", cursive; }

.site-footer {
    background-color: powderblue;
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: royalblue;
}

.card-row-top {
    padding: 50px 0;
}

.card-row-bottom {
    padding-bottom: 50px;
}